<footer class="mt-5">
  <div class="text-center py-3">
    <div>
      <span>© 2020</span>
      <a href="https://www.oweight.com" target="_blank" rel="nofollow noopener">唯重</a>
      <i class="iconfont icon-love"></i>
      <a href="https://github.com/vzhougm" target="_blank" rel="nofollow noopener"><span>GM</span></a>
      <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank" rel="nofollow noopener" title="👉 联盟">
        <img src="/img/ypy_logo5.png" width="60" height="30" style="margin-top: -5px">
      </a>
      <a href="https://console.upyun.com/register/?invite=rJ1lmrK7P" title="加入联盟每月可免费获取 10GB 存储空间 + 15GB 流量~ 😍">
        <span style="font-size: 13px"><u>联盟</u></span>
      </a>
    </div>
    <%- partial('_partial/statistics.ejs') %>
    <%- partial('_partial/beian.ejs') %>
    <% if(theme.web_analytics.cnzz) { %>
      <!-- cnzz Analytics Icon -->
      <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
    <% } %>
  </div>
</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
