<footer class="mt-5">
  <div class="text-center py-3">
    <div>
      <span>© 2020</span>
      <a href="https://www.oweight.com" target="_blank" rel="nofollow noopener">唯重</a>
      <i class="iconfont icon-love"></i>
      <a href="https://github.com/vzhougm" target="_blank" rel="nofollow noopener"><span>GM</span></a>
    </div>
    <%- partial('_partial/statistics.ejs') %>
    <%- partial('_partial/beian.ejs') %>
    <% if(theme.web_analytics.cnzz) { %>
      <!-- cnzz Analytics Icon -->
      <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
    <% } %>
  </div>
</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
